.nav-right{
    display: flex;
    flex-direction: row;
    padding-left: 800px;
}

.a-element{
    color: rgb(16, 15, 15);
    padding: 20px;
    position: relative;
    margin: 2px;
    text-decoration: none;
}
.a-element:hover{
    font-size: 1.5em;
    color: black;
    border-radius: 50px;
    font-style: italic;

}
.a-element::before{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(190, 71, 28);
    
    transition: all 0.5s;

}
.a-element:hover::before{
    width: 100%;
}






.home{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    text-align: center;
    
}
.h1{
    
    color: black
    
    
    
  
}
.bg{
    max-height: 50vh;
}

.bg-vid{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .bg-vid{
        width: 100%;
        height: auto;
        
    }
}
@media(max-aspect-ratio:16/9){
    .bg-vid{
        width: 100%;
        height:auto ;
        
    }
}

.but{
    
    background-color: rgb(168, 36, 36);
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    text-decoration: none;  
}

.h1:hover{
    color: rgb(219, 102, 7);
    font-size: 2em;
    transition: 2s;
}
.but:hover{
    background-color: rgb(39, 203, 33);
   

}
.h2{
   
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-left: 30px;
   
}

.about{
    padding: 50px;
    text-align: center;
}
.ab-h1{
    font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
    letter-spacing: 2px;
}
.about-sub-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
   
    
}
.about-card{
    border: 2px black solid;
    padding: 50px;
    
}

.about-card:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px;
}
.about-card1{
    border: 2px black solid;
    padding: 50px;

}
.about-card1:hover{
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px;
}
.ex{
    padding: 50px;
}
.ex-h1{
    text-align: center;
}
.ex-sub-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.p{
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.logo1{
    padding: 20px;
}
.ex-card{
    border: 2px black solid;
}
.w{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.pro-h1{
    text-align: center;
}
.pro-sub-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.pro{
    border: 2px black solid;
    margin: 2px;
    padding: 40px;
}
.button{
    border: 2px black solid;
    border-radius: 50px;
    font-size: 15px;
    
}
.inp{
    width: 1000px;
    height: 200px;
    
    
}
.typ{
    text-align: center;
}
.inp1{
    width: 300px;
    padding-right: 50px;
}
.text{
    padding-left: 200px;
}
.contact{
    padding: 40px;
}
.con-h1{
    text-align: center;
}
.con-sub-cont{
    display: flex;
    flex-direction: row;
    margin-left: 400px;
    
}
.y{
    margin: 50px;
}
.y:hover{
    background-color: rgb(105, 223, 84);
}
.ex-card:hover{
    background: var(--clr);
    letter-spacing: 0.2em;
    box-shadow: 0 0 35px;
}
.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom 1s,left 1s;
}
.images:hover .pic{
    left: 40%;

}
.images:hover .pic1{
    bottom: 35px;
}
.pro:hover{
    background-color: aquamarine;
    
  

}
.s{
   padding-left: 30px;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-size: 30px;
   font-weight: 700;
   letter-spacing: 2px;
}
.q{
    
}
.cv{
    
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 100;
    color: white;
    
    
}
.o{
    font-family: "Rajdhani", sans-serif;
}

.con-logo:hover::after{
    color: rgb(0, 21, 255);
    font-size: 3em;
}
.video{
    width: 600px;
    height: 400px;
    padding-left: 500px;
}
.ex-card{
    border-radius: 40px;
}
.pro{
    border-radius: 40px;
}
.pro:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.sub{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    padding: 6px;
    border: 2px black solid;
    border-radius: 10px;
}
.sub:hover{
    color: white;
    background-color: black;
}
.button{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
    padding: 6px;
    border: 2px black solid;
    border-radius: 10px;
}
.button:hover{
    color: white;
    background-color: black;
}
